<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Project Two</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
</head>
<body>
  <!-- Navbar-->
  <div id="burger" onclick="toggleOverlay()" style="font-size:30px;cursor:pointer;" class="wrapper-menu">
    <div class="line-menu half start"></div>
    <div class="line-menu"></div>
    <div class="line-menu half end"></div>
  </div>
  <div id ="app">
      <input id="Email" type="email" placeholder="Email">
      <input id="Password" type="password" placeholder="Password">
      <button id="register" class="btn btn-secondary">Register</button>
      <button id="signIn" class="btn btn-secondary">Sign In</button>
      <button id="logOut" class="btn btn-action hide">Log out</button>
    </div>
  <div id="navbar" class="overlay mytransition active" style="height: 0%">
    <button class="drpbtn">Dropdown<i class="fa fa-caret-down"></i></button>
    <div class="overlay-content">
      <a href="index.html"><span>Beer</span></a>
      <a href="coverletter.html"><span>Beer Frinder</span></a>
      <a href="contact.html"><span>Buuuurp</span></a>
    </div>
  </div>
  <div id="firebaseui-auth-container"></div>

      <div id="loader"></div>
  {{{body}}}

  <!-- Footer -->
  <div class="current-page">Footer</div>
  <!-- JS -->
  <script src="/javascripts/logic.js"></script>
  <script src="/javascripts/firebase.js"></script>
  <script src="/javascripts/yelp.js"></script>
</body>
</html>
