<!-- Navbar-->
<div id="burger" onclick="toggleOverlay()" style="font-size:30px;cursor:pointer;" class="wrapper-menu">
  <div class="line-menu half start"></div>
  <div class="line-menu"></div>
  <div class="line-menu half end"></div>
</div>

<div id="navbar" class="overlay" style="height: 0%">
      <button class="drpbtn">Dropdown<i class="fa fa-caret-down"></i></button>
  <div class="overlay-content">
    <a href="index.html"><span>Beer</span></a>
    <a href="coverletter.html"><span>Beer Frinder</span></a>
    <a href="contact.html"><span>Buuuurp</span></a>
  </div>
</div>
<div class="current-page">Beerhavior Logo + SM &nbsp;</div>

<!-- Wrapper -->
<div class="container">

  <!-- Boxes -->
  <div class="billboard">Billboard</div>
  <div>N</div>
  <div class="vertical">V</div>
  <div class="big">B</div>
  <div>N</div>
  <div class="horizontal">H</div>
  <div class="vertical">V</div>
  <div>N</div>
  <div class="big">B</div>
  <div>N</div>
  <div class="vertical">V</div>
  <div>N</div>
</div>

<!-- Footer -->
<div class="current-page">Footer</div>
