<div class="current-page">Beerhavior Logo + SM &nbsp;</div>

<!-- Wrapper -->
<div class="container">

  <!-- Boxes -->
  <div class="billboard"><img src="https://i.imgur.com/OBXSp8n.gif"></a></div>
  <div class="headline">What is up with Beer?</div>

  <div class="vertical"><img src="http://s3.amazonaws.com/medias.photodeck.com/e22d9b36-e139-11e3-af74-329e81129ea7/Beer_Test_27049_COMP_xlarge.jpg"></div>
  <div class="horizontal"><img src="https://s3.amazonaws.com/growlermag-media/Founders-Taproom-Courtesy-of-Founders-Brewing.jpg"><div class="boxOverlay"><h1 class="text "><a href="#">TEST</a></h1></div></div>
  <div><img src="https://static.seattletimes.com/wp-content/uploads/2017/01/19468e20-d2eb-11e6-9051-dba4d108dd34-780x534.jpg"></div>
  <div class="big"><img src="https://ak4.picdn.net/shutterstock/videos/6073124/thumb/2.jpg"><div class="boxOverlay"><h1 class="text "><a href="#">TEST</a></h1></div></div>
  <div class="horizontal"><img src="https://cdn10.phillymag.com/wp-content/uploads/2013/12/shutterstock_beer-940x540.jpg"><div class="boxOverlay"><h1 class="text "><a href="#">TEST</a></h1></div></div>
  <div class="vertical"><img src="https://s3.envato.com/files/126372000/300%20Beer%20Boubles%20outdoors.jpg"></div>
  <div><img src="https://static01.nyt.com/images/2018/03/21/science/21TB-BEER/merlin_135759669_d65946cd-4b94-4579-b36d-5a02b421570a-master768.jpg"></div>
  <div class="horizontal"><img src="https://ak8.picdn.net/shutterstock/videos/28117378/thumb/1.jpg?i10c=img.resize(height:160)"><div class="boxOverlay"><h1 class="text "><a href="#">TEST</a></h1></div></div>
</div>
