<div class="current-page">Beerhavior Logo + SM &nbsp;</div>

<!-- Wrapper -->
<div class="container">

  <!-- Boxes -->
  <div class="billboard"><img src=""></div>

  <div class="vertical"><img src="http://s3.amazonaws.com/medias.photodeck.com/e22d9b36-e139-11e3-af74-329e81129ea7/Beer_Test_27049_COMP_xlarge.jpg"></div>
  <div>N</div>
  <div>N</div>
  <div class="big"><img src="https://ak4.picdn.net/shutterstock/videos/6073124/thumb/2.jpg"></div>
  <div class="horizontal"><img src="https://cdn10.phillymag.com/wp-content/uploads/2013/12/shutterstock_beer-940x540.jpg"></div>
  <div class="vertical"><img src="https://s3.envato.com/files/126372000/300%20Beer%20Boubles%20outdoors.jpg"></div>
  <div>N</div>
  <div class="horizontal"><img src="https://ak8.picdn.net/shutterstock/videos/28117378/thumb/1.jpg?i10c=img.resize(height:160)"></div>
</div>
